/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET ends here */

/* ------------------------------------------------------------------------------------------------------------- */

body {
    margin:0;
    background-color: #eee;
    display: grid;
    grid-template-rows: 100px 1fr;
}



/* Header */
.header {
    background-color: #304157;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100vw;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 4vw;
}

.search-image {
    height: 35px;
    width: auto;
    filter: invert(100%);
}

.search-image:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);
}

.search-bar {
    width: 30vw;
    height: 40px;
    padding: 4px 8px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: #eee;
}

.button-wrapper {
    margin-right: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.units {
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.units:hover {
    cursor: pointer;
}

.slider {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    transform: translateX(-2px);
    background-color: #304157;
    transition: 0.5s;
}

.slide {
    transform: translateX(25px);
}



/* Main section */
.content {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

h1 {
    text-align: center;
    font-size: 2.6rem;
    margin: 0 20px 20px;
    font-weight: bold;
}

.top {
    background-image: url(./images/blue-sky.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 20px 10px;
    color: white;
}

.unimportant-info,
.info {
    background-color: rgba(41, 41, 41, 0.25);
    border-radius: 10px;
    width: 80vw;
    padding: 40px 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.info {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.temperature,
.weather {
    font-size: 2.75rem;
}

.extra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.unimportant-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-left: 8px;
}

.humidity-value,
.wind-value,
.feels-like-value,
.pressure-value,
.pressure-value,
.population-value,
.longitude-value,
.latitude-value,
.rain-value,
.sunrise-value,
.sunset-value {
    font-weight: normal;
    display: inline;
}

.clock {
    background-color: rgba(41, 41, 41, 0.25);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 80vw;
    padding: 10px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.bottom {
    background-color: #304157;
    color: white;
    padding: 20px 10px;
}



/* Daily forecast section */
.next-days {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;
    justify-content: center;
}

.day {
    background-color: #44648fa2;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.week-day {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-day,
.right-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sky {
    width: 80px;
    height: auto;
}




/* Media queries for differing screen sizes */
@media (min-width: 800px) {
    .content-wrapper {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 240px 90px;
        column-gap: 8vw;
        row-gap: 50px;
    }

    h1 {
        margin-top: 2vh;
        margin-bottom: 4vh;
    }

    .clock {
        margin-top: 0;
    }

    .info {
        margin-bottom: 0;
    }

    .clock,
    .info {
        width: 40vw;
        min-width: fit-content;
    }

    .unimportant-info {
        grid-row: 1 / 3;
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        width: 20vw;
    }
}

@media (max-width: 440px) {
    .unimportant-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .main-info {
        display: flex;
        flex-direction: row;
        gap: 8vw;
        justify-content: center;
        align-items: center;
    }

    .unimportant-info,
    .info,
    .clock {
        margin-right: auto;
    }
}